# git ignore file
Thumbs.db
*.obj
*.exe
*.pdb
*.vspscc
*.suo
*.bak
*.log
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esults*
*.vssscc
*.tmp
*.userprefs

# NuGet files to exclude
nuget/
packages/
*.nupkg
!NuGet.exe

# NCrunch files to exclude
_NCrunch_*/
*.ncrunchsolution
*.ncrunchproject
*.cache
*.user

# NUnit files to exclude
TestResult.xml
