<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="slf4net-no-factory" type="slf4net.Configuration.SlfConfigurationSection, slf4net" />
    <section name="slf4net-valid-factory" type="slf4net.Configuration.SlfConfigurationSection, slf4net" />
    <section name="slf4net-invalid-factory" type="slf4net.Configuration.SlfConfigurationSection, slf4net" />
    <section name="slf4net-no-factory-type" type="slf4net.Configuration.SlfConfigurationSection, slf4net" />
    <section name="slf4net-factory-data" type="slf4net.Configuration.SlfConfigurationSection, slf4net" />
    <section name="slf4net-factory-data-simple" type="slf4net.Configuration.SlfConfigurationSection, slf4net" />
    <section name="slf4net-factory-data-invalid" type="slf4net.Configuration.SlfConfigurationSection, slf4net" />
  </configSections>

  <slf4net-wrong-type>
  </slf4net-wrong-type>

  <slf4net-no-factory>
  </slf4net-no-factory>

  <slf4net-valid-factory>
    <factory type="slf4net.Factories.SimpleLoggerFactory, slf4net.Simple"/>
  </slf4net-valid-factory>

  <slf4net-invalid-factory>
    <factory type="invalid.type, slf4net"/>
  </slf4net-invalid-factory>

  <slf4net-no-factory-type>
    <factory />
  </slf4net-no-factory-type>

  <slf4net-extra-attributes extra="hello">
    <factory type="slf4net.Factories.SimpleLoggerFactory, slf4net.Simple" extra="hello"/>
  </slf4net-extra-attributes>

  <slf4net-multi-factory>
    <factory type="slf4net.Factories.SimpleLoggerFactory, slf4net.Simple" />
    <factory type="slf4net.Factories.SimpleLoggerFactory, slf4net.Simple" />
    <factory type="slf4net.Factories.SimpleLoggerFactory, slf4net.Simple" />
  </slf4net-multi-factory>

  <slf4net-factory-data>
    <factory type="slf4net.Factories.SimpleLoggerFactory, slf4net.Simple">
      <factory-data>
        <logger type="slf4net.ConsoleLogger, slf4net.Simple"/>
      </factory-data>
    </factory>
  </slf4net-factory-data>

  <slf4net-factory-data-simple>
    <factory type="slf4net.Factories.SimpleLoggerFactory, slf4net.Simple">
      <factory-data>
        simple factory data
      </factory-data>
    </factory>
  </slf4net-factory-data-simple>

  <slf4net-factory-data-invalid>
    <factory type="slf4net.Factories.SimpleLoggerFactory, slf4net.Simple">
      <invalid type="invalid.element"/>
    </factory>
  </slf4net-factory-data-invalid>

</configuration>